.button {
  padding: 8px 4.5px;
  min-height: 40px;
  min-width: 100px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #7859cf;
  border-radius: 4px;
  border: none;
}

.button--secondary {
  color: #7859cf;
  background-color: #ffffff;
}

.button--cart {
  position: relative;
  padding: 8px 20px 8px 46px;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    top: 10px;
    left: 20px;
    z-index: 1;
    background-image: url("../img/icons/icon-add-to-cart.svg");
  }
}

.button:hover,
.button:focus {
  background-color: #9070ec;
  color: #ffffff;
}

.button:active {
  background-color: #593cac;
  color: #ffffff;
}

.button:disabled {
  background-color: #bdbdbd;
  color: #ffffff;
}

.button--secondary:disabled {
  background-color: #e2e2e2;
}
