.checkbox-group {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 280px;
  min-height: 204px;
  border: none;
}

.checkbox-group__title {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-bottom: 21.3px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.checkbox-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox-group__item {
  padding-bottom: 20.3px;
}
