.filter-form {
  margin: 0 auto 37.5px;
}

.filter-form__range-group {
  margin-bottom: 24px;
}

.filter-form__milk-group {
  margin-bottom: 1px;
}

.filter-form__country-group {
  margin-bottom: 11.4px;
}

.filter-form__button {
  display: block;
  margin: 0 auto;
  min-width: 160px;
  min-height: 46px;
}

.filter-form__button--filter {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 23.5px;
}

.filter-form__button--reset {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 23.5px;
}
