.main-footer {
  display: grid;
  grid-template-columns: 1fr;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 20px;
}

@media (max-width: @mobile-width-only) {
  .main-footer > * {
    border-bottom: 1px solid #f0ebff;
  }

  .main-footer :last-child {
    border: none;
  }
}
