.radio-button-control {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 34px;
}

.radio-button-control:hover .radio-button-control__mark,
.radio-button-control:focus .radio-button-control__mark,
.radio-button-control:focus-within .radio-button-control__mark {
  outline: none;
  border: 2px solid #9070ec;
}

.radio-button-control:active .radio-button-control__mark {
  border: 2px solid #bdbdbd;
}

.radio-button-control__mark {
  position: absolute;
  left: 0;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  border: 2px solid #bdbdbd;
  border-radius: 50%;
}

.radio-button-control__label {
  display: flex;
  align-items: center;
  min-height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.radio-button-control__input:checked + .radio-button-control__mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 16px;
  height: 16px;

  background-color: #7859cf;
  border-radius: 50%;
}

.radio-button-control__input:checked:disabled + .radio-button-control__mark::before {
  background-color: #e2e2e2;
}

.radio-button-control__input:checked:disabled + .radio-button-control__mark {
  outline: none;
  border: 2px solid #e2e2e2;
}

.radio-button-control__input:checked + .radio-button-control__mark {
  outline: none;
  border: 2px solid #9070ec;
}

.radio-button-control--disabled .radio-button-control__label {
  color: #bdbdbd;
}

.radio-button-control--disabled:hover .radio-button-control__mark,
.radio-button-control--disabled:focus .radio-button-control__mark,
.radio-button-control--disabled:focus-within .radio-button-control__mark,
.radio-button-control--disabled .radio-button-control__mark {
  border: 2px solid #e2e2e2;
}
