.radio-button-group {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
  width: calc(@mobile-width - 60px);
}

.radio-button-group__title {
  display: inline-block;
  min-width: 60px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #62d1bb;
  text-transform: uppercase;
}

.radio-button-group__list {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}

.radio-button-group__item + .radio-button-group__item {
  margin-top: 12px;
}


@media (min-width: @tablet-width) {
  .radio-button-group {
    border-top: none;
    display: grid;
    grid-template-columns: 147px 1fr;
    column-gap: 20px;
    grid-template-areas: "group__title group__list";
    width: calc(@tablet-width - 100px);
  }

  .radio-button-group__title {
    float: left;
    grid-area: group__title;
    padding-top: 51px;
    width: 100%;
  }

  .radio-button-group__list {
    grid-area: group__list;
    margin-top: 34px;
    margin-left: 3px;
    margin-bottom: 51px;
  }

  .radio-button-group__item + .radio-button-group__item {
    margin-top: 26px;
  }
}

@media (min-width: @desktop-width) {
  .radio-button-group {
    grid-template-columns: 154px 1fr;
    width: calc(@desktop-width - 100px);
  }

  .radio-button-group__title {
    padding-left: 61px;
    padding-top: 53px;
  }

  .radio-button-group__list {
    margin-bottom: 50px;
  }
}
