.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
}

.site-list__item {
  box-sizing: border-box;
  min-height: 57px;
  display: flex;
  justify-content: center;
}

.site-list__link {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  word-wrap: break-word;
}

@media (max-width: @mobile-width-only) {
  .site-list {
    border-top: 1px solid #f0ebff;
  }

  .site-list__item {
    border-bottom: 1px solid #f0ebff;
  }

  .site-list__link {
    width: 320px;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
    justify-content: center;
    align-items: center;
  }

  .site-list__item {
    min-height: 80px;
  }

  .site-list__link {
    display: flex;
    align-items: center;
  }

  .site-list__link--current {
    padding-bottom: 18px;
    border-bottom: solid 2px #7859cf;
    color: #7859cf;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    column-gap: 20px;
  }
}

.site-list__link:hover,
.site-list__link:focus {
  color: #7859cf;
}

.site-list__link:active {
  color: #7859cf;
  background-color: #f0ebff;
}
