.social {
  display: inline-block;
  min-width: 160px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  gap: 20px;
  justify-content: end;
}

.social__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
}

.social__icon {
  fill: #bdbdbd;
}
