.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  justify-content: end;
}

.user-list__item {
  box-sizing: border-box;
  min-height: 60px;
  display: flex;
  justify-content: center;
}

.user-list__item--toggle-no-script {
  display: none;
}

.user-list__link {
  display: flex;
  justify-content: center;
  padding: 22px;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  word-wrap: break-word;
}

.user-list__description {
  padding-left: 8px;
  display: none;
}

@media (min-width: @tablet-width) {
  .user-list__item {
    min-height: 80px;
  }

  .user-list__link {
    padding: 32px 22px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
    column-gap: 20px;
  }

  .user-list__link {
    padding: 32px 20px;
  }

  .user-list__description {
    padding-left: 8px;
    display: block;
  }
}

.user-list__link:hover,
.user-list__link:focus {
  color: #7859cf;
}

.user-list__link:active {
  color: #7859cf;
  background-color: #f0ebff;
}

.user-list__link:hover .user-list__icon,
.user-list__link:focus .user-list__icon,
.user-list__link:active .user-list__icon {
  fill: #7859cf;
}

.menu-toggle:active {
  background-color: #f0ebff;
}
